* {
  margin: 0;
}

body {
  background: var(--lightGrey);
  font-family: "Fraunces", serif;
  padding-top: 84px;

  .content-wrapper {
    width: 327px;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
  }

  section {
    margin-top: 80px;
  }
}

/**
* ? Tablet
*/
@media (min-width: 768px) {
  body {
    .content-wrapper {
      width: 688px;
    }
  }
}
/**
* ? DeskTop
*/
@media (min-width: 1440px) {
  body {
    .content-wrapper {
      width: 1280px;
    }
  }
}
