* {
  margin: 0;
}

body {
  background: var(--lightGrey);
  font-family: "Fraunces", serif;
  padding-top: 84px;

  .content-wrapper {
    width: 327px;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
  }

  section {
    margin-top: 80px;
  }

  .button {
    border: none;
    background: var(--lightBlue);
    color: var(--lightCream);
    border-radius: 8px;
    padding: 12px 16px;
    margin: 16px auto;
  }
}

/**
* ? Tablet
*/
@media (min-width: 768px) {
  body {
    .content-wrapper {
      width: 688px;
    }
  }
}
/**
* ? DeskTop
*/
@media (min-width: 1440px) {
  body {
    .content-wrapper {
      width: 1280px;
    }
  }
}
